@page
@model Webbshop.Pages.CartModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="A fictional webshop that allows users to search for products,
    add them to their shopping cart, and place orders.
    The webshop is built using Razor Pages, including an API.">
	<meta name="keywords" content="Webshop, Products, Razor Pages, C#, Backend, HTML, CSS, API">
	<meta name="author" content="Oskar Almhage, Veronica Steen">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cart</title>
</head>
<body>

	<header class="header-container">
		<h1 class="headline">Webshop</h1>
	</header>

	<nav>
		<ul class="list-container">
			<li><a asp-page="./Index">Products</a></li>
			<li><a asp-page="./Cart">Cart</a></li>
		</ul>
	</nav>
	<main>

		<h2 class="product-headline">Your cart</h2>

		@if (Model.CartItems != null && Model.CartItems.Any())
		{
			<div class="cart-grid">
				@foreach (var item in Model.CartItems)
				{
					<div class="cart-container">
						<img src="Pictures/@item.Product.ImagePath" alt="Product Image">

						<ul>
							<li id="product-name">@item.Product.Name</li>
							<li>@item.Product.Price$</li>
							<li>Quantity: @item.Quantity</li>
							<li>Total amount: @(item.Product.Price * item.Quantity)$</li>
						</ul>
					</div>
				}
			</div>

			<footer class="cart-footer">
				<p>Total: @Model.TotalAmount$</p>

				<div class="cart-buttons">
					<form asp-page-handler="delete" method="post">
						<button type="submit" id="clear-button">Clear cart</button>
					</form>

					<form asp-page-handler="order" method="post">
						<button type="submit" id="order-button">Order</button>
					</form>
				</div>
			</footer>

		}
		else

		{
			<p class="empty-cart-text">Your cart is empty.</p>
			<button class="return-button">
				<a asp-page="./Index">Return to products</a>
			</button>
			
		}

	</main>
</body>
</html>
